.coverage
.coverage.*
.DS_Store
.mypy_cache/
.pytest_cache/
.tox/
.vscode/
*.egg-info/
*.pyc
*.pyo
build/
!open_alchemy/build/
!tests/open_alchemy/build/
dist/
!examples/**/dist/
examples/**/dist/dist
htmlcov/
venv
coverage.xml
docs/source/_*
