

class {{ artifacts.name }}(models.{{ artifacts.name }}):
    """SQLAlchemy model."""

    # SQLAlchemy properties
    __table__: sqlalchemy.Table
    __tablename__: str
    query: orm.Query{% if not artifacts.empty %}

    # Model properties{% for column in artifacts.columns %}
    {{ column.name }}: {{ column.type }}{% endfor %}{% endif %}

    @classmethod
    def from_dict(cls, **kwargs: typing.Any) -> "{{ artifacts.name }}":
        """Construct from a dictionary (eg. a POST payload)."""
        return super().from_dict(**kwargs)

    def to_dict(self) -> {{ artifacts.name }}Dict:
        """Convert to a dictionary (eg. to send back for a GET request)."""
        return super().to_dict()
