

class {{ artifacts.name }}(models.{{ artifacts.name }}):
    """{{ artifacts.name }} SQLAlchemy model."""
{% for column in artifacts.columns %}
    {{ column.name }}: {{ column.type }}{% endfor %}

    def from_dict(self, **kwargs: typing.Any) -> "{{ artifacts.name }}":
        """Construct from a dictionary (eg. a POST payload)."""
        super().from_dict(**kwargs)

    def to_dict(self) -> {{ artifacts.name }}Dict:
        """Convert to a dictionary (eg. to send back for a GET request)."""
        super().to_dict()
