

class {{ model.sqlalchemy.name }}(models.{{ model.sqlalchemy.name }}):
    """{{ model.sqlalchemy.name }} SQLAlchemy model."""
{% for column in model.sqlalchemy.columns %}
    {{ column.name }}: {{ column.type }}{% endfor %}
