

class {{ artifacts.not_required_name }}(typing.TypedDict, total=False):
    """{{ artifacts.model_name }} TypedDict for properties that are not required."""

    {% for prop in artifacts.not_required_props %}
    {{ prop.name }}: {{ prop.type }}
    {% endfor %}