[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "open-alchemy-pypi"
url = "$PYPI_MIRROR"
verify_ssl = true

[packages]
Flask-SQLAlchemy = {version = "2.4.4", index = "pypi"}
connexion = {extras = ["swagger-ui"], version = "2.7.0", index = "pypi"}
openalchemy = {version = "2.5.0", index = "open-alchemy-pypi"}

[dev-packages]
pytest = "6.2.1"
pytest-flask = "1.1.0"
pytest-flask-sqlalchemy = "1.0.2"

[requires]
python_version = "3.9"

[scripts]
test = "pytest"
